################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/Gaia/v14
/debug
/Examples/SomeWidgets/Debug
/Examples/SomeWidgets/Debug-dynamic
/Examples/SomeWidgets/Debug-static
/Gaia/Debug-dynamic
/Gaia/Debug-static
/Gaia/Release-dynamic
/Gaia/Release-static
/Dependencies/lib/msvc
/Examples/SomeWidgets
/Gaia/x64/Release-dynamic
/Gaia/ClassDiagram11.cd
/Gaia/ClassDiagram1.cd
/Gaia/ReadMe.txt
/Gaia/GUIEnglish.vcxproj.user
/Gaia/GUIEnglish.vcxproj.filters
/Gaia/GUIEnglish.vcxproj
/Gaia/GUIEnglish.vcproj.JP.Jean-Philip.user
/Gaia/GUIEnglish.vcproj
/Gaia/GUIEnglish.rar
/Gaia/GUIEnglish-24-09-2011.rar
/Gaia/GUIEnglish-20-09-2011.rar
/Gaia/GUIEnglish-11-09-2011.rar
/Gaia/GuiEnglish-10-10-2011.rar
/Gaia/GUIEnglish-10-09-2011.rar
/misc resources
/release
/SDLRenderer/Debug-static
/SDLRenderer/Debug-dynamic
/SDLRenderer/Release-static
/SDLRenderer/src/ve-3D1.tmp
*.user
*.filters
*.vcxproj
*.vcproj
/SFMLRenderer/Debug-dynamic
/SFMLRenderer/Debug
/SFMLRenderer/Debug-static
/SFMLRenderer/Release-static
/SFMLRenderer/Release-dynamic
/SFMLRenderer/x64/Release-dynamic
/SFMLRenderer/ReadMe.txt
/SFMLRenderer/GUIEnglish19-09-2011.rar
/SFMLRenderer/ClassDiagram1.cd
/XMLLoader/x64/Release-dynamic
/XMLLoader/Release-static
/XMLLoader/Release-dynamic
/XMLLoader/Debug-static
/XMLLoader/Debug-dynamic
/_UpgradeReport_Files
/Gaia-25-10-2011.rar
/Gaia-24-10-2011.rar
/Gaia-22-07-2012.rar
/GAIA-08-02-2012.rar
/Gaia-06-11-2011.rar
/Gaia-02-04-2012.rar
/Gaia-01-11-2011.rar
/Border.png
*.sln
*.db
*.opendb
/libGUI-02-10-2011.rar
/GUIEnglish-27-09-2011.rar
/GUIEnglish-25-09-2011.rar
*.ncb
*.sdf
*.suo
/UpgradeLog.XML
/ProprietesImageProgressbar.h
/x64/Release-dynamic
/Test
/SFMLTest
